<nav class="p-2 border-bottom border-white bg-dark container">
  <div class="row">
      <h1 class="d-flex justify-content-center text-decoration-none text-center text-white">Citation Mystère</h1>
      <p class="d-flex justify-content-center text-decoration-none text-center text-white">par Zakaria Mrad</p>
  </div>
</nav>
<app-choix-citation *ngIf="Montrercitation" (CitationCourante)="changerCitation($event)"></app-choix-citation>
<app-affichage-citation *ngIf="!Montrercitation" [Vide]="false" [tableauCitationCourante]="TableauCitation"></app-affichage-citation>
<app-affichage-citation *ngIf="!Montrercitation" [Vide]="true" [tableauCitationCourante]="TableauCitation"></app-affichage-citation>