.case{
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
.ombre{
    background-color: black;
    color:black;
}
.clair{
    background-color: white;
    color: black;
}
.vide{
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
